config settings 'main'
	option cost_per_gb '7700'
	option currency 'Toman'
	option monthly_budget '0'
	option billing_mode 'per_gb'

config group
	option name 'Parsa'
	list match 'dev-lenovo'
	list match 'dev-nothing'
	list match 'dev-iphone'
	list match 'dev-redmi'
	list match 'Lenovo-Legion'
	list match 'Nothing-Phone-2'
	list match 'parsavisions-wifi'
	list match 'Redmi-Note-9S'
	list match 'a8:2b:dd:8c:cf:fc'
	list match '22:7d:f2:30:d3:3b'
	list match '42:08:7c:71:a1:b4'
	list match 'f4:28:9d:60:61:cb'
	list match 'da:13:07:c4:1a:22'
	list match '4a:e1:8c:80:1a:7e'
	list match '16:f7:3c:47:fd:30'
	list match '7a:31:39:d7:2c:42'

config group
	option name 'Baba'
	list match 'dev-pc'
	list match 'WIN10-PC'
	list match '10:02:b5:ac:c1:e1'
	list match '5c:a6:e6:df:91:d1'

config group
	option name 'Family'
	list match 'dev-samsung'
	list match 'Samsung-TV'
	list match 'c8:12:0b:32:7c:f2'
	list match 'dev-androidbox'
	list match 'Android-Box'
	list match 'c4:46:19:7e:c5:44'
